.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #2f2f37;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #ff6b0a;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  // ❗️❗️❗️ The path to images from a SASS file
  // is always the same as from the css folder.
  background-image: url('../images/logo.png');
  background-size: cover;
  background-position: center;
}

body {
  scroll-behavior: smooth;
    background-image: radial-gradient(#90caf9 20%, transparent 20%),
        radial-gradient(#4169e1 20%, transparent 20%);
      background-color: #64b5f6;
      background-position: top left, 50px 50px;
      background-size: 100px 100px;
}

.gallery {
  place-items: center;
  gap: 15px;

  @media screen and (min-width: 426px) {
    grid-template-columns: repeat(auto-fit, minmax(396px, 1fr));
  }

  padding: 15px 15px;
  

}

.grid-item{
  background-color: #fff;
  box-shadow: 0 1px 1px rgb(0 0 0 / 0.1), 0 2px 2px rgb(0 0 0 / 0.1),
      0 4px 4px rgb(0 0 0 / 0.1), 0 8px 8px rgb(0 0 0 / 0.1),
      0 16px 16px rgb(0 0 0 / 0.1), 0 32px 32px rgb(0 0 0 / 0.1);
      border: 4px solid rgb(255 255 255 / 0.5);
      border-radius: 22px ;
      overflow: hidden;
    
      
}

.gallery {
  display: grid;
  @media screen and (max-width: 425.5px) {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

    & .info-item {
      margin: 8px 0;
    }
  }
}


img {
  display: block;
  max-width: 100%;
  max-height: auto;
  position: relative;

  
}

a {
  text-decoration: none;
  color: #141414;
}

.info {
  display: flex;
  flex-direction: column;

  // border-left: 1px solid grey  ;
  // border-right: 1px solid grey;
  // border-bottom: 1px solid grey;
  padding: 12px;
  gap: 16px;
  .info-item{
    margin: 0;
    border-bottom:3px solid rgba(0, 0, 0, 0.2) ;
    border-width: 100% ;
   }
}

.search-form {
  text-align: center;
  padding: 20px 0;
  background-color: #4169e1;

}

.base  {
  border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: visibility 250ms cubic-bezier(0.075, 0.82, 0.165, 1), opacity 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.up{
  border: none;
  background: none;
  cursor: pointer;
  position: fixed;
  bottom: 70px;
  right: 70px;
  opacity: 1;
  visibility:visible;
  
  svg{
    width: 60px;
    height: 60px;
    
    fill: rgba(11, 25, 179, 0.5);
    stroke: #4169e1;
    
   transition: stroke 250ms; 
  }

 &:hover svg{
  stroke: transparent;
 }
  
}

.down {
    opacity: 1;
      visibility: visible;
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  top: 70px;
  right: 70px;
  transform: rotate(180deg);
  svg {
    width: 60px;
    height: 60px;

    fill: rgba(11, 25, 179, 0.5);
    stroke: #4169e1;
    fill-rule: evenodd;
    transition: stroke 250ms;
  }

  &:hover svg {
    stroke: transparent;
  }

}